.login {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lInput {
    height: 30px;
    padding: 10px;
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}

.p {
    color: rgb(220, 74, 74);
    font-weight: 500;
}

h5 {
    padding-top: 5px;
    margin-bottom: -5px;
}

.inicia{
    color:#0071c2;
    text-decoration:none;
    margin-left: 3px;
}
