/*.footer{
    width: 100%;
    width: 1024px;
    font-size: 12px;
}
*/

.footer{
    width: 100%;
    margin-top: 50px;
    background-color: #ececec;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.footer h1{
    background-color: #ececec;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5077b2;
    font-weight: 600;
}

.fLists{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #ececec;
}

.fList{
    width: 1024 / 3;
    height: auto;
    margin: 0 auto;
    position: relative;
    background-color: #ececec;
    list-style: none;
    padding: 0;
}

.fListItem{
    margin: 0 auto;
    position: relative;
    align-items: center;
    background-color: #ececec;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    display: grid;
    justify-content: center;
}

.fText{
    background-color: #ececec;
    color: #000000;
}

.footerLogo{
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
    cursor:default;
}